:root{
    --color: rgb(245, 245, 245);
    --colorGradiente:linear-gradient(to right, rgb(58, 0, 103), rgb(28, 0, 166));
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins" ;
}
header{
 
    background-color: rgb(255, 255, 255);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 8rem ;
}
.logo{
    font-size: 2rem;
    font-weight: 700;
    background: var(--colorGradiente);
    -webkit-background-clip: text;
    color: transparent;

}

.nav-menu{
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat';

}

.nav-menu a{
    font-size: 1.2rem;
    margin-right: 1.7rem;
    color: black;
   

}

.about-container{
    display: flex;
    flex-direction: column;
    background-color: var(--color);
    height: 90vh;
    padding: 3rem 14rem;
    
}

.about-section{
    display: flex;
    height: 80%;
    /* padding: 3rem 8rem; */
}
.about-image{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-image img {
    border-radius: 50%;
    height: 60%;
    box-shadow: 4px 11px 29px -2px rgba(0,0,0,0.58);
-webkit-box-shadow: 4px 11px 29px -2px rgba(0,0,0,0.58);
-moz-box-shadow: 4px 11px 29px -2px rgba(0,0,0,0.58);
}

.about-text{
 
    width: 70%;
    display: flex;
    align-items: left;
    justify-content: center;
    padding: 0px 5rem;
    flex-direction: column;
   
    
}

.about-text h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    background: var(--colorGradiente);
    -webkit-background-clip: text;
    color: transparent;
}

.about-text p {
    font-size: 25px;
    margin-bottom: 2rem;
}

.logos img{
    width: 2rem;
    margin-right: 1rem;
}


.technologies-section{
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

.technologies-row{
    display: flex;
    padding: 1rem;
    align-items: center;
    width: 45%;
    background-color: white;
    justify-content: space-around;
    border-radius: 1rem;



    box-shadow: 4px 11px 29px -2px rgba(0,0,0,0.58);
    -webkit-box-shadow: 4px 11px 29px -2px rgba(0,0,0,0.58);
    -moz-box-shadow: 4px 11px 29px -2px rgba(0,0,0,0.58);

}

.technologies-row img{
    height: 4rem;
}

.contact-container{
    height: 80vh;
    background-color: var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
}


.contact{
    width: 50%;
    
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact h2{
   
    padding: 0 1rem;
    font-size: 2rem;
    margin-bottom: 2rem;
    background: var(--colorGradiente);
    -webkit-background-clip: text;
    color: transparent;



}

.contact p{
    margin-bottom: 3rem;
}
.contact-box{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
    width: 50%;
    height: 30%;
    font-size: 1.3rem;

    box-shadow: 4px 11px 29px -2px rgba(0,0,0,0.58);
    -webkit-box-shadow: 4px 11px 29px -2px rgba(0,0,0,0.58);
    -moz-box-shadow: 4px 11px 29px -2px rgba(0,0,0,0.58);

}

.contact-box a{
    margin: 0.5rem 0px ;
  
}
.contact-box img{
    width: 1.2rem;
    margin-right: 0.5rem;
}





.formulario {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color);

}

form{
    width: 550px;
    padding: 20px;
   
    font-size: 16px;
    border-radius: 1rem;
    box-shadow: 4px 11px 29px -2px rgba(0,0,0,0.58);
    -webkit-box-shadow: 4px 11px 29px -2px rgba(0,0,0,0.58);
    -moz-box-shadow: 4px 11px 29px -2px rgba(0,0,0,0.58);
}
input{
    width: 100%;
    margin: 20px 0px;
    height: 50px;
    border-radius: 10px;
    border: none;
}
label{
    width: 100%;
            
}
.boton-formulario{
    width: 100px;
    background: var(--colorGradiente);
    color: #FFF;
    border: none;

}
textarea{
    width: 100%;
    margin: 10px 0px;
    height: 65px;
    border-radius: 10px;
    border: none;
    
}

textarea::placeholder{
    padding-top: 10px;
    
}



::placeholder{
    color: $color-principal;
    padding-left: 10px;

    font-size: 16px;

}





.proyects{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0;
}

.proyects a{
    display: inline-block; 
    
}

.proyects h2{
    font-size: 2.5rem;
    margin: 2rem 0;
}


.proyect{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    width: 70%;
    height: 300px;
    padding: 0rem 3rem;
    border-radius: 1rem;
    margin: 2rem auto;
    color: black ;
    box-shadow: 3px 3px 19px -3px rgba(0,0,0,0.58);
    -webkit-box-shadow: 3px 3px 19px -3px rgba(0,0,0,0.58);
    -moz-box-shadow: 3px 3px 19px -3px rgba(0,0,0,0.58);
}

.proyect img{
    max-width: 30%;
    object-fit: contain;
}
.proyect-text{
    padding: 0rem 3rem;
}

.proyect-text h2{
    font-size: 2rem;
    font-family: "Montserrat";
    font-weight: 700;
    background: var(--colorGradiente);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 0;
    margin-top: 2.5rem;
}
.proyect-text p{
    margin-top: 1.5rem;
    font-size: 1.5rem;
}


footer{
    height: 60px;

    background: linear-gradient(to right, rgb(58, 0, 103), rgb(28, 0, 166));
}